h3.banner {
    background-color: #134F5C;
    color: white;
}

img.topic-image {
    max-width: -webkit-fill-available;
    max-height: 500px;
    object-fit: cover;
}

div.background {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: black;
    display: flex;
    justify-content: center;
}

div.card-container {
    width: 500px;
    max-width: 90%;
    height: fit-content;
}

img.card-image {
    max-width: -webkit-fill-available;
    object-fit: contain;
}

h2.card-text {
    background-color: white;
}
